/* font found from google fonts, the code for this font was also copied from google. 
   https://fonts.google.com/specimen/Amatic+SC/tester */
/* how to import font referenced from w3 schools.
   https://www.w3schools.com/css/css_font_google.asp#:~:text=Of%20course%20you%20can%20style,as%20you%20like%2C%20with%20CSS! */
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');



/* universal selector */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* styles the font for the site and gives a background image to the site. */
body {
    font-family: 'Amatic SC', cursive;
    font-size: 30px;
    font-weight: bold;
    color: #F46F99;
    background-image: url(https://static.vecteezy.com/system/resources/thumbnails/004/484/048/small/tropical-leaves-hand-drawn-seamless-pattern-botanical-trendy-design-in-pink-and-green-colors-repeating-design-for-fabric-wallpaper-or-wrap-papers-vector.jpg)
}



/* navigation bar styling. */

nav {
    /* to keep the navbar at the top of the page I referenced stack overflow.
       https://stackoverflow.com/questions/14390979/how-do-i-keep-a-nav-bar-at-the-top-of-the-page */
    position: absolute;
    top: 0;
    height: 75px;
    width: 100%;
    background-color: #F6F3E7;
    padding: 0px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    list-style-type: none;
} 

nav ul li {
    padding-right: 10px;
    margin-left: 10px;
    border-style: solid;
    border-width: 0px;
    border-right-width: 3px;
}

nav ul li a {
    text-decoration: none;
    color:#F46F99;
}

nav ul li a:hover {
    text-decoration: underline;
}

.title {
    font-size: 200%;
    font-weight: bolder;
}



/* About me section styling */

.about-me {
    position: relative;
    top: 75px;
    padding: 0px 20px;
    margin-left: 20px;
    font-size: 175%;
    background-color: #F6F3E7;
    height: fit-content;
    width: fit-content;
    border-radius: 10px;
}

.about-me-container {
    display: flex;
    height: 350px;
    margin-top: 65px;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    padding-bottom: 0px;
}

section div p {
    line-height: 40px;
    width: 80%;
    padding: 5px 20px;
    margin-top: 15px;
    background-color: #F6F3E7;
    border-radius: 15px;

}

.about-me-image {
    width: auto;
    height: 100%;
    margin-right: 100px;
}

.my-image {
    width: auto;
    height: 100%;
    margin-right: 100px;
    border-style: solid;
    border-width: 15px;
    border-radius: 15px;
    border-color: #F6F3E7
}


/* My Work cards styling */

.my-work {
    padding: 0px 20px;
    margin-left: 20px;
    margin-top: 75px;
    font-size: 175%;
    background-color: #F6F3E7;
    height: fit-content;
    width: fit-content;
    border-radius: 10px;
}

.my-work-container {
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
}

.big-card {
    background-image: url(https://techboomers.com/wp-content/uploads/2018/02/how-secure-is-my-password.png);
    background-size: 750px;
    background-color:#F6F3E7;
    margin: 10px;
    padding: 125px 50px;
    border-radius: 10%;
    border-width: 10px;
    border-style: solid;
    border-color: #F6F3E7
}

.big-card h2 {
    position: relative;
    top: -75px;
    left: 0px;
    background-color: #F6F3E7;
    padding: 0px 20px;
    border-radius: 15px;
}

.big-card h2 a {
    text-decoration: none;
    color:#F46F99
}

.big-card h2:hover {
    background-color:#F46F99
}

.big-card h2 a:hover {
    color:#F6F3E7
}

.card {
    /* Referenced W3 Schools https://www.w3schools.com/cssref/pr_background-image.php */
    /* display: flex; */
    position: relative;
    background-color: #f6f3e7;
    margin: 10px;
    padding: 50px;
    border-radius: 10%
}

.card h2 {
    background-color: #F6F3E7;
    height: fit-content;
    padding: 0px 20px;
    border-radius: 15px;
}

.card h2:hover {
    color: #F6F3E7;
    background-color:#F46F99
    
}

.card h2 a {
    text-decoration: none;
    color:#F46F99
}

.card h2:hover {
    background-color:#F46F99
}

.card h2 a:hover {
    color:white;
}

.my-work-container .card {
    display: flex;
    justify-content: space-between;
    flex: 1 0 30%;
}

.my-work-container .big-card {
    display: flex;
    flex: 1 0 40%
}


/* Contact me styling */

.contact-me-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    bottom: -800px;
    height: 140px;
    width: 100%;
    background-color: #F6F3E7;
    padding: 0px 20px;
    padding-bottom: 10px;
}

.contact-me {
    font-size:175%;
}

.contact-me-boxes {
    display: flex;
    justify-content: left;
    list-style-type: none;
}

.contact-me-boxes li {
    padding-right: 10px;
    margin-left: 10px;
    border-style: solid;
    border-width: 0px;
    border-right-width: 3px;
}

.contact-me-boxes li a {
    text-decoration: none;
    color: #F46F99;
}

.contact-me-boxes li a:hover {
    text-decoration: underline;
}


/* Id selectors */

#border-none {
    border: 0px;
}

#code-quiz {
    background-image: url(https://static.vecteezy.com/system/resources/previews/013/466/834/non_2x/mathematics-seamless-pattern-math-background-vector.jpg);
    border-radius: 10%;
    border-width: 10px;
    border-style: solid;
    border-color: #F6F3E7
}

#cat-picker {
    background-image: url(https://img.freepik.com/free-vector/cat-lover-pattern-background-design_53876-100662.jpg?w=1060&t=st=1690854352~exp=1690854952~hmac=323907895c060d28502766d455cc8248b98f2b75027f4af09ad0bda537ce02a1);
    background-repeat: none;
    background-position: center;
    background-size: cover;
    border-radius: 10%;
    border-width: 10px;
    border-style: solid;
    border-color: #F6F3E7;
}

.cat-picker {
    text-decoration: none;
    color:#F46F99
}

#dnd-character-maker {
    background-image: url(https://cdn.wallpapersafari.com/58/51/5nRFiS.jpg);
    /* Referenced MDN to resize the background image.
       https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_backgrounds_and_borders/Resizing_background_images */
    background-size: 400px;
    border-radius: 10%;
    border-width: 10px;
    border-style: solid;
    border-color: #F6F3E7
}

#calculator {
    background-image: url(https://www.diabetes.co.uk/wp-content/uploads/2022/10/calculator-1.jpg);
    background-size: 450px;
    border-radius: 10%;
    border-width: 10px;
    border-style: solid;
    border-color: #F6F3E7
}

#chess-game {
    background-image: url(https://images.chesscomfiles.com/uploads/v1/images_users/tiny_mce/PedroPinhata/phpEOTwBm.png);
    background-size: 700px;
    border-radius: 10%;
    border-width: 10px;
    border-style: solid;
    border-color: #F6F3E7
}

#phone-app {
    background-image: url(https://helios-i.mashable.com/imagery/articles/036SM7saRgnSGmvT3XNLYXQ/hero-image.fill.size_1200x900.v1623372406.jpg);
    background-size: 650px;
    border-radius: 10%;
    border-width: 10px;
    border-style: solid;
    border-color: #F6F3E7
}


/* These are all the media queries to make the page responsive.
   Referred W3 Schools. https://www.w3schools.com/css/css_rwd_mediaqueries.asp */

@media screen and (max-width: 1256px) {
    .about-me {
        margin: auto;
    }
    
    .about-me-container {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    .about-me-text {
        margin-left: 190px;
        padding: 0;
        width: 100%;
    }
    .about-me-image {
        margin-left: 190px;
        margin-top: 20px;
    }
    .my-work {
        margin-top: 350px;
    }
    .my-work-container {
        margin-top: 5px;
    }
}

@media screen and (max-width: 975px) {
    .about-me-text {
        margin-left: 150px;
    }
    
    .about-me-image {
        padding-bottom: 20px;
    }
    
    .my-work {
        margin: 450px auto 0px;
    }

    .my-work-container {
        padding-bottom: 150px;
        margin-bottom: 150px;
    }

    .contact-me-container {
        bottom: -900px
    }
}

@media screen and (max-width: 793px) {
    .about-me-text {
        margin-left: 125px;
    }
    
    .my-work { 
        margin: 600px auto 0px;
    }

    .contact-me-container {
        bottom: -1050px;
    }
}

@media screen and (max-width: 650px) {
    nav {
        height: 150px;
    }

    .contact-me-container {
        height: 175px;
    }

    .about-me {
        margin-top: 100px;
    }

    .about-me-text {
        margin-left: 90px;
    }

    .my-work {
        margin: 700px auto 0px;
    }
}

@media screen and (max-width: 564px) {
    body {
        width: 100%;
        margin-right: -100px;
    }
    
    nav {
        flex-wrap: wrap;
        flex-direction: column;
    }

    nav ul {
        padding-bottom: 15px;
    }

    .my-work {
        margin: 800px auto 0px;
    }

    .contact-me-container {
        bottom: -1500px;
    }
}

@media screen and (max-width: 480px) {
    .about-me-text {
        margin-left: 60px;
    }
    
    .my-work {
        margin: 1050px auto 0px;
    }

    .contact-me-container {
        height: 250px;
    }
}

@media screen and (max-width: 401px) {
    .my-work {
        margin: 1300px auto 0px;
    }

    .contact-me-container {
        bottom: -1700px;
    }
    .contact-me-boxes {
        flex-direction: column;
        align-items: center;
    }
    .contact-me-boxes li {
        padding: 10px 0px;
        border: none;
    }
}

@media screen and (max-width: 352px) {
    .my-image {
        width: 300px;
        align-content: center;
    }
   
    .my-work {
        margin: 1520px auto 0px;
    }
    nav {
        display: block;
        height: 200px;
    }
    nav ul {
        text-align: center;
        display: block;
    }

    nav ul li {
        border: none;
    }
}

